<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.studentbankmanagement.mapper.BankMapper">
    <insert id="registerCardOwner">
        INSERT INTO card_owner (id, name,password) VALUES (#{id},#{name}, #{password})
    </insert>
    <insert id="openAccount">
        INSERT INTO debit_card (card_number, owner_id, balance, password) VALUES (#{cardNumber},#{id}, 0, #{password})
    </insert>
    <update id="deposit">
        UPDATE debit_card SET balance = balance + #{amount} WHERE card_number = #{cardNumber}
    </update>
    <select id="login" resultType="CardOwner">
        SELECT * FROM card_owner WHERE id = #{id} AND password = #{password}
    </select>
    <select id="getCardNumber" resultType="java.lang.Integer">
        SELECT count(*) FROM debit_card WHERE owner_id = #{id}
    </select>
    <select id="getCards">
        SELECT * FROM debit_card WHERE owner_id = #{id}
    </select>
    <select id="getCardOwnerByCardNumber" resultType="java.lang.String">
        SELECT owner_id FROM debit_card WHERE card_number = #{cardNumber}
    </select>
    <select id="getCardPassword" resultType="java.lang.String">
        SELECT password FROM debit_card WHERE card_number = #{cardNumber}
    </select>
    <select id="isRegister" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT * FROM card_owner WHERE id = #{id})
    </select>
</mapper>